//colors
$black: #000000;
$yellow1: #ffe400;
$yellow2: #fdf567;
$lightblue1: #c5e9f0;
$blue1: #437f97;
$orange1: #ffbb00;
$red: #ac0505;
$gray: #a8a8a8;

//sizes
$margin: 2rem;
$border-radius: 6px;
$pill-radius: 16px;
$button-padding: .1em .7em;
$input-padding: .2rem .7rem;

//fonts
$font-regular: "Roboto Regular", sans-serif;
$font-medium: "Roboto Medium", sans-serif;
$font-bold: "Roboto Bold", sans-serif;
$font-italic: "Roboto Italic", sans-serif;
$font-light: "Roboto Light", sans-serif;
$font-thin: "Roboto Thin", sans-serif;
$font-black: "Roboto Black", sans-serif;

//transitions
$transition-time: 220ms;
$transition-function: cubic-bezier(0.63, 0, 0.37, 1);

//screen sizes
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-xl: 1200px;

/*
@media screen and (max-width: $screen-small - 1px) {

}
@media screen and (min-width: $screen-small) {

}
*/
// col-md-8 offset-md-2
