@import "variables";
@import "fonts";

body {
    font-family: $font-regular;
    background-color: #f2f7f8;
}

#view-login {
    .background-container {
        display: flow-root;
        min-height: 100vh;
        min-width: 100vw;
        //noinspection CssUnknownTarget
        background-image: url("/storage/images/login_background.png");
        background-size: cover;
    }

    .login-form-container {
        margin-top: 150px;

        h1 {
            font-family: $font-medium;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .form-section {
            margin-top: $margin;

            input {
                height: 40px;
                padding: 5px 5px 5px 40px;
            }
        }
    }
}

#client-homepage {
    overflow: hidden;
    display: flow-root;
    background-color: #e8ebed;
    min-width: 100%;
    min-height: 100%;

    .title-bar {
        margin-top: 2rem;
        margin-bottom: 1rem;

        img {
            height: 70px;
            margin-left: 2rem;
        }

        .button-container {
            @media screen and (max-width: $screen-small - 1px) {
                width: 100%;
                justify-content: unset;
                margin-left: 2rem;
                margin-top: 1.5rem;
            }
            margin-left: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 2rem;

            button {
                border-radius: $border-radius;
                border: 2px solid;
                color: $black;
                padding: $button-padding;
                transition: border-color $transition-time $transition-function,
                opacity $transition-time $transition-function;

                &:hover, &:focus {
                    border-color: $black;
                    opacity: .7;
                }
            }

            .kycu {
                background-color: $yellow1;
                border-color: $yellow1;
                margin-right: 1rem;
            }

            .regjistrohu {
                background-color: transparent;
                border-color: $black;
            }
        }
    }

    .gjurmo-form-container {
        .z-indexed-div {
            z-index: 1;
        }

        .colored-box {
            position: absolute;
            height: 10rem;
            width: 50%; //20rem;
            z-index: -1;
            @media screen and (max-width: $screen-small - 1px) {
                height: 5rem;
                width: 50%;
            }

            &.yellow {
                background-color: $yellow2;

                &:nth-of-type(2) {
                    left: 0;
                    bottom: 2rem;
                }

                &:nth-of-type(4) {
                    right: 0;
                    top: 2rem;
                }
            }

            &.blue {
                background-color: $lightblue1;

                &:nth-of-type(1) {
                    left: -2rem;
                    bottom: 0;
                }

                &:nth-of-type(3) {
                    right: -2rem;
                    top: 0;
                }
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            z-index: 2;
        }

        .form-section {
            z-index: 2;
            //noinspection CssReplaceWithShorthandSafely
            h3 {
                text-transform: uppercase;
                font-family: $font-bold;
            }

            #gjurmo {
                height: unset;
                padding: $input-padding;
                padding-right: 5rem;
                border-radius: $pill-radius;
            }

            input[type='submit'] {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 32.38px;
                border-radius: $pill-radius;
                padding: $button-padding;
                background-color: $yellow1;
                border: 2px solid $yellow1;
                transition: border-color $transition-time $transition-function;

                &:hover, &:focus {
                    border-color: $black;
                }
            }
        }

    }

    .title-with-shapes {
        display: inline-block;
        z-index: 1;
        position: relative;

        .circle-yellow {
            background-color: $yellow2;
            z-index: -1;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-30%, -30%);
        }

        h2 {
            font-family: $font-bold;
            color: $blue1;
            text-shadow: 4px 0 $black;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    [class*='col-'].z-indexed-div {
        z-index: 1;
    }

    .orange-card {
        height: 300px;
        width: 80%;
        margin: auto;
        position: relative;
        background-color: $orange1;

        &.circle-top::after, &.circle-bottom::after {
            @media screen and (max-width: $screen-medium - 1px) {
                display: none;
            }
            content: "";
            width: 50%;
            padding-top: 50%;
            background-color: $yellow2;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }

        &.circle-top::after {
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
        }

        &.circle-bottom::after {
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);
        }
    }


}

#package-tracking-page {
    overflow: hidden;
    display: flow-root;
    background-color: #e8ebed;
    min-width: 100%;
    min-height: 100%;
    //noinspection CssUnknownTarget
    background-image: url("/storage/images/component7–4.png");
    background-size: cover;
    .form-section {
        margin: 4rem 0;
        #gjurmo {
            height: unset;
            padding: $input-padding;
            padding-right: 5rem;
            border-radius: $pill-radius;
        }

        input[type='submit'] {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 32.38px;
            border-radius: $pill-radius;
            padding: $button-padding;
            background-color: $yellow1;
            border: 2px solid $yellow1;
            transition: border-color $transition-time $transition-function;

            &:hover, &:focus {
                border-color: $black;
            }
        }
        &~h3 {
            margin-bottom: 2rem;
        }
    }
    .tracking-section {
        padding-left: 2rem;
        position: relative;
        h5 {
            margin-bottom: 1rem;
        }
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: calc(100% + 20px);
            transform: translateX(-50%);
            width: 8px;
            border-radius: 4px;
            background-color: $gray;

        }
        &:last-of-type {
            &:before {
                height: calc(100% + 5px);
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $gray;
            border-radius: 50%;
            transform: translate(-50%, 0);
        }
        &.active {
            &:before, &:after {
                background-color: $yellow1;
            }
        }
    }
    .center-aligned {
        width: 100%;
    }
}

#admin-dashboard {
    .button-logout {
        background-color: transparent;
        //noinspection CssUnknownTarget
        background-image: url("/storage/icons/user.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        padding: $button-padding;
        padding-left: 2rem;
        border: 2px solid $black;
        border-radius: $border-radius;
        transition: border-color $transition-time $transition-function;
        &:hover, &:focus {
            border-color: $yellow1;
        }
    }
    .styled-header {
        font-family: $font-bold;
        color: $blue1;
        text-shadow: 4px 0 $black;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 auto;
        display: table;
        z-index: 1;
        position: relative;
        &:before {
            content: "";
            height: 1.1em;
            width: 1.1em;
            border-radius: 50%;
            background-color: $yellow1;
            z-index: -1;
            position: absolute;
            transform: translateX(-30%);
        }
        &:after {
            content: "";
            height: 1em;
            width: 2.2em;
            background-color: $lightblue1;
            z-index: -1;
            position: absolute;
            right: 0;
            transform: translateX(10%);
        }
    }
    .stock-image-holder {
        width: 35px;
    }
    .content-info-holder {
        padding-left: 1rem;
        p {
            margin-bottom: .3rem;
        }
        width: calc(100% - 35px);
    }
    .priority-type {
        padding: $button-padding;
        border-radius: $border-radius;
        &.green {
            border: 1px solid $green;
            color: $green;
            background-color: $lightgreen;
        }
        &.red {
            border: 1px solid $red2;
            color: $red2;
            background-color: $lightred;
        }
    }
}
