@import "variables";
@import "fonts";

body {
    font-family: $font-regular;
    background-color: #f2f7f8;
}

.overlay {
    &.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: $blue1;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        h2 {
            color: $yellow1;
            text-shadow: 2px 0 $black;
            font-size: 2em;
            width: 250px;
            margin-bottom: 1rem;
            span {
                display: inline-block;
                width: 3ch;
                letter-spacing: 8px;
                animation: typing 2s steps(4) infinite;
                white-space: nowrap;
                overflow: hidden;
                position: relative;
                bottom: -10px;
            }
        }
        .thing {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1px;
            border: 10px solid transparent;
            border-color: $yellow1 transparent transparent $yellow1;
            border-radius: 50%;
            animation: thing 5s cubic-bezier(.35,-0.14,.79,1.22) infinite;
        }
    }
    &.inactive {
        display: none;
    }
}
@keyframes thing {
    100% {
        transform: rotateZ(1turn);
    }
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 3ch;
    }
}
#view-login {
    .background-container {
        display: flow-root;
        min-height: 100vh;
        min-width: 100vw;
        //noinspection CssUnknownTarget
        background-image: url("/storage/images/login_background.png");
        background-size: cover;
    }

    .login-form-container {
        margin-top: 150px;

        h1 {
            font-family: $font-medium;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .form-section {
            margin-top: $margin;

            input {
                height: 40px;
                padding: 5px 5px 5px 40px;
            }
        }
    }
}

#client-homepage {
    overflow: hidden;
    display: flow-root;
    background-color: #e8ebed;
    min-width: 100%;
    min-height: 100%;

    .title-bar {
        margin-top: 2rem;
        margin-bottom: 1rem;

        img {
            height: 70px;
            margin-left: 2rem;
        }

        .button-container {
            @media screen and (max-width: $screen-small - 1px) {
                width: 100%;
                justify-content: unset;
                margin-left: 2rem;
                margin-top: 1.5rem;
            }
            margin-left: auto;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-right: 2rem;

            button {
                border-radius: $border-radius;
                border: 2px solid;
                color: $black;
                padding: $button-padding;
                transition: border-color $transition-time $transition-function,
                opacity $transition-time $transition-function;

                &:hover, &:focus {
                    border-color: $black;
                    opacity: .7;
                }
            }

            .kycu {
                background-color: $yellow1;
                border-color: $yellow1;
                margin-right: 1rem;
            }

            .regjistrohu {
                background-color: transparent;
                border-color: $black;
            }
        }
    }

    .gjurmo-form-container {
        .z-indexed-div {
            z-index: 1;
        }

        .colored-box {
            position: absolute;
            height: 10rem;
            width: 50%; //20rem;
            z-index: -1;
            @media screen and (max-width: $screen-small - 1px) {
                height: 5rem;
                width: 50%;
            }

            &.yellow {
                background-color: $yellow2;

                &:nth-of-type(2) {
                    left: 0;
                    bottom: 2rem;
                }

                &:nth-of-type(4) {
                    right: 0;
                    top: 2rem;
                }
            }

            &.blue {
                background-color: $lightblue1;

                &:nth-of-type(1) {
                    left: -2rem;
                    bottom: 0;
                }

                &:nth-of-type(3) {
                    right: -2rem;
                    top: 0;
                }
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            z-index: 2;
        }

        .form-section {
            z-index: 2;
            //noinspection CssReplaceWithShorthandSafely
            h3 {
                text-transform: uppercase;
                font-family: $font-bold;
            }

            #gjurmo {
                height: unset;
                padding: $input-padding;
                padding-right: 5rem;
                border-radius: $pill-radius;
            }

            input[type='submit'] {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 32.38px;
                border-radius: $pill-radius;
                padding: $button-padding;
                background-color: $yellow1;
                border: 2px solid $yellow1;
                transition: border-color $transition-time $transition-function;

                &:hover, &:focus {
                    border-color: $black;
                }
            }
        }

    }

    .title-with-shapes {
        display: inline-block;
        z-index: 1;
        position: relative;

        .circle-yellow {
            background-color: $yellow2;
            z-index: -1;
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-30%, -30%);
        }

        h2 {
            font-family: $font-bold;
            color: $blue1;
            text-shadow: 4px 0 $black;
            text-align: center;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
    }

    [class*='col-'].z-indexed-div {
        z-index: 1;
    }

    .orange-card {
        height: 300px;
        width: 80%;
        margin: auto;
        position: relative;
        background-color: $orange1;

        &.circle-top::after, &.circle-bottom::after {
            @media screen and (max-width: $screen-medium - 1px) {
                display: none;
            }
            content: "";
            width: 50%;
            padding-top: 50%;
            background-color: $yellow2;
            position: absolute;
            z-index: -1;
            border-radius: 50%;
        }

        &.circle-top::after {
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
        }

        &.circle-bottom::after {
            right: 0;
            bottom: 0;
            transform: translate(50%, 50%);
        }
    }


}

#package-tracking-page {
    overflow: hidden;
    display: flow-root;
    background-color: #e8ebed;
    min-width: 100%;
    min-height: 100%;
    //noinspection CssUnknownTarget
    background-image: url("/storage/images/component7–4.png");
    background-size: cover;

    .form-section {
        margin: 4rem 0;

        #gjurmo {
            height: unset;
            padding: $input-padding;
            padding-right: 5rem;
            border-radius: $pill-radius;
        }

        input[type='submit'] {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 32.38px;
            border-radius: $pill-radius;
            padding: $button-padding;
            background-color: $yellow1;
            border: 2px solid $yellow1;
            transition: border-color $transition-time $transition-function;

            &:hover, &:focus {
                border-color: $black;
            }
        }

        & ~ h3 {
            margin-bottom: 2rem;
        }
    }

    .tracking-section {
        padding-left: 2rem;
        position: relative;

        h5 {
            margin-bottom: 1rem;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: calc(100% + 20px);
            transform: translateX(-50%);
            width: 8px;
            border-radius: 4px;
            background-color: $gray;

        }

        &:last-of-type {
            &:before {
                height: calc(100% + 5px);
            }
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $gray;
            border-radius: 50%;
            transform: translate(-50%, 0);
        }

        &.active {
            &:before, &:after {
                background-color: $yellow1;
            }
        }
    }

    .center-aligned {
        width: 100%;
    }
}

#logistics-page {
    .button-logout {
        background-color: transparent;
        //noinspection CssUnknownTarget
        background-image: url("/storage/icons/user.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        padding: $button-padding;
        padding-left: 2rem;
        border: 2px solid $black;
        border-radius: $border-radius;
        transition: border-color $transition-time $transition-function;

        &:hover, &:focus {
            border-color: $yellow1;
        }
    }

    .styled-header {
        font-family: $font-bold;
        color: $blue1;
        text-shadow: 4px 0 $black;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 auto;
        display: table;
        z-index: 1;
        position: relative;

        &:before {
            content: "";
            height: 1.1em;
            width: 1.1em;
            border-radius: 50%;
            background-color: $yellow1;
            z-index: -1;
            position: absolute;
            transform: translateX(-30%);
        }

        &:after {
            content: "";
            height: 1em;
            width: 2.2em;
            background-color: $lightblue1;
            z-index: -1;
            position: absolute;
            right: 0;
            transform: translateX(10%);
        }
    }

    .stock-image-holder {
        width: 35px;
    }

    .content-info-holder {
        padding-left: 1rem;

        p {
            margin-bottom: .3rem;
        }

        width: calc(100% - 35px);
    }

    .priority-type {
        padding: $button-padding;
        border-radius: $border-radius;

        &.green {
            border: 1px solid $green;
            color: $green;
            background-color: $lightgreen;
        }

        &.red {
            border: 1px solid $red2;
            color: $red2;
            background-color: $lightred;
        }
    }
}

#admin-dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .col-sm-3 {
        margin-top: 1rem;
    }

    .col-sm-3:not(:last-of-type) {
        margin-right: 1%;
    }

    .col-sm-3:first-of-type {
        margin-left: .5%;
    }

    .rw-d {
        background-color: #fff;
        display: block;
        border-radius: 8px;
        border: 1px solid #e1e4ea;
        padding: 18px 18px 18px 18px;
        margin-bottom: 15px;
    }

    .rw-d h3 {
        color: #2d4665;
        font-size: 19px;
        letter-spacing: 0.3px;
    }

    .col-sm-3 {
        /*flex: 0 0 24.5%;*/
        max-width: 24% !important;
        @media screen and (max-width: $screen-medium - 1px) {
            &.rw-d, &.right-col-df {
                flex: unset;
                max-width: 99% !important;
            }

        }

    }


    .col-list-f {
        display: flex;
        background-color: #e4f9fc;
        padding: 10px 14px 10px 14px;
        margin-top: 15px;
    }

    .col-list-f:first-of-type {
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
        margin-top: 20px;
    }

    .col-list-f:last-of-type {
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .col-list-f p {
        margin: 0;
        color: #1f1f26;
        letter-spacing: 0.5px;
    }

    img.d-icon {
        display: block;
        /*max-width: 20px;*/
        margin: 0 auto;
        /*padding-top: 4px;*/
    }

    .col-list-f > div:first-child {
        background-color: #fff;
        width: 10%;
        border-radius: 8px;
        max-height: 30px;
    }

    .col-list-f > div:nth-child(2) p {
        padding-left: 20px;
    }

    .col-list-f > div:nth-child(2) {
        width: 70%;
    }

    .col-list-f > div:last-child {
        width: 20%;
    }

    .col-list-f > div:last-child {
        float: right;
        text-align: right;
        border-left: 1px solid #bfd0e4;
    }

    /*Totali i Punonjësve në Pozicionet , dashboard */

    div#employee .col.col-list-f {
        background-color: #eef9f2;
    }

    /*Totali i Dërgesave në Prioritet , dashboard */
    div#priority .col.col-list-f {
        background-color: #f0edfd;
    }

    /*Totali i Dërgesave në Tipet , dashboard */

    div#order_type .col.col-list-f {
        background-color: #e1e9f5;
    }

    /*Klientët me numrin më të lartë të dërgesave , dashboard*/

    div#max_orders_clients .col.col-list-f {
        background-color: #dde5fc;
    }

    /*Klientët më me Shumë Ulje , dashboard*/
    div#max_discounts .col.col-list-f {
        background-color: #f1f6fb;
    }

    .col.col-list-f.all-end {
        width: 100% !important;
    }

    .col.col-list-f.all-end p {
        margin: auto 0 auto auto;
    }

    .col-sm-3.right-col-df {
        padding-right: 0px;
        padding-left: 0px;
    }

    label#instock-label {
        height: 50px;
        padding-left: 40px;
        padding-top: 11px;
        border-radius: 30px;
        border: 1px solid #dee6ef;
        color: #30527b;
        outline: none;
        box-shadow: none;
        background-color: #ffffff;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        position: relative;
        width: 100%;
    }


    div#btn-export {
        color: #ffffff;
        outline: none;
        transition: .2s;
        background-color: #85a1c4 !important;
    }

    div#btn-export:hover {
        background-color: #84e0be !important;
    }

    .copy-tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    .copy-tooltip .copy-tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #606060;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 120%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .copy-tooltip .copy-tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #606060 transparent transparent transparent;
    }

    .copy-tooltip:hover .copy-tooltiptext {
        visibility: visible;
        opacity: 1;
    }


    /* operator input autocompletes*/

    .easy-autocomplete div#eac-container-sender_personal_number {
        overflow: auto;
        max-height: 455px;
        /* overflow-x: hidden; */
        z-index: 999;
        border: none !important;
        margin: 0;
        /* padding: 6px 6px 6px 6px; */
        padding: 0;
        list-style: none;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 0px 1px rgb(0 0 0 / 0%), 0 4px 13px rgb(0 0 0 / 12%);
    }

    .easy-autocomplete li {
        margin: 0;
        padding: 5px 0;
        text-indent: 15px;
        -moz-transition: all 0.15s ease-in;
        -o-transition: all 0.15s ease-in;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
        cursor: pointer;
    }

    .easy-autocomplete ul {
        margin-bottom: 0px;
    }

    /*download pdf modal*/

    #modal-printPD-f .modal {
        background-color: #003e6fe3;
    }

    #modal-printPD-f .modal-content {
        border: none;
        box-shadow: none;
        border-radius: 10px;
    }

    #modal-printPD-f h5#order-del-title {
        text-align: center;
        padding-top: 22px;
        font-size: 27px;
    }

    #modal-printPD-f p.del-modal-desc {
        text-align: center;
        padding: 15px 40px 15px 40px;
        color: #85a1c4;
    }

    #modal-printPD-f .modal-footer-button {
        display: block;
        margin: 0 auto;
    }

    #modal-printPD-f button.cancel-btn-pdf {
        padding: 10px 49px 10px 49px;
        border: 1px solid #85a1c4;
        margin: 0px 20px 22px 20px;
        color: #85a1c4;
        border-radius: 33px;
        outline: none;
        transition: .2s;
    }

    #modal-printPD-f button.download-btn-pdf {
        padding: 6px 40px 6px 40px;
        border: 1px solid #85a1c4;
        margin: 0px 20px 22px 20px;
        color: #85a1c4;
        border-radius: 33px;
        outline: none;
        transition: .2s;
    }

    #modal-printPD-f button.cancel-btn-pdf:hover {
        background-color: red;
        border: 1px solid red;
        color: #fff;
    }

    #modal-printPD-f button.download-btn-pdf:hover {
        background-color: red;
        border: 1px solid red;
        color: #fff;
    }

    .select-pdf-option {
        display: flex;
        justify-content: center;
    }

    .select-pdf-option .format {
        width: 30%;
    }

    .select-pdf-option .type {
        width: 30%;
    }

    .select-pdf-option .format label {
        display: contents;
    }

    .select-pdf-option .type label {
        display: contents;
    }

    .select-pdf-option .form-elt {
        display: block !important;
        flex-wrap: wrap;
    }


    input.excel-example-order {
        letter-spacing: 0.3px;
        display: flex;
        padding: 10px 30px 10px 30px;
        margin: 0px 20px 22px 20px;
        color: #ffffff;
        border-radius: 33px;
        outline: none;
        transition: .2s;
        background-color: #84e0be;
    }

    input.excel-example-order:hover {
        background-color: red;
    }
}

#change-password {
    .confirm {
        padding: $button-padding;
        border-radius: $border-radius;
        border: 1px solid $green;
        color: $green;

        &:hover {
            cursor: pointer;
        }
    }
}
