/*
@media screen and (max-width: $screen-small - 1px) {

}
@media screen and (min-width: $screen-small) {

}
*/
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
#create-new-user .registerr {
  height: 100vh;
  padding-top: 70px;
  background: white;
}
#create-new-user .pick-user-container {
  margin-top: 0;
}
#create-new-user .form-section:not(.row) {
  margin-bottom: 20px;
  display: flow-root;
}
#create-new-user #login-button1 {
  margin-top: 10px;
}

#package-details {
  overflow: hidden;
  display: flow-root;
  background-color: #e8ebed;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/storage/images/package_detail_page.png");
  background-size: cover;
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}
#package-details .rrethim {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 200px;
  width: 70%;
}
@media screen and (max-width: 575px) {
  #package-details .rrethim {
    width: 100%;
  }
}
#package-details .left-side {
  background-color: #FEE301;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details .right-side {
  background-color: #F0F7FF;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
#package-details table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
#package-details table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
#package-details table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#package-details tr {
  border-bottom-style: hidden !important;
  border-top-style: hidden !important;
}
#package-details .button-logout {
  background-color: transparent;
  background-image: url("/storage/icons/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.1em 0.7em;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
}
#package-details .button-logout:hover, #package-details .button-logout:focus {
  border-color: #ffe400;
}
#package-details button.button-logout {
  position: relative;
  left: -300px;
  top: 50px;
}

#edit-package {
  overflow: hidden;
  display: flow-root;
  background-color: #e8ebed;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/storage/images/package_detail_page.png");
  background-size: cover;
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}
#edit-package .rrethim {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 200px;
  width: 80%;
}
@media screen and (max-width: 575px) {
  #edit-package .rrethim {
    width: 100%;
  }
}
#edit-package .left-side {
  background-color: #FEE301;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#edit-package .right-side {
  background-color: #F0F7FF;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#edit-package table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
#edit-package table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
#edit-package table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
#edit-package table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#edit-package tr {
  border-bottom-style: hidden !important;
  border-top-style: hidden !important;
}
#edit-package .button-logout {
  background-color: transparent;
  background-image: url("/storage/icons/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.1em 0.7em;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
}
#edit-package .button-logout:hover, #edit-package .button-logout:focus {
  border-color: #ffe400;
}
#edit-package button.button-logout {
  position: relative;
  left: -300px;
  top: 50px;
}

/*# sourceMappingURL=style1.css.map */
