/*
@media screen and (max-width: $screen-small - 1px) {

}
@media screen and (min-width: $screen-small) {

}
*/
@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Italic";
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
#create-new-user .registerr {
  height: 100vh;
  padding-top: 70px;
  background: white;
}
#create-new-user .pick-user-container {
  margin-top: 0;
}
#create-new-user .form-section:not(.row) {
  margin-bottom: 20px;
  display: flow-root;
}
#create-new-user #login-button1 {
  margin-top: 10px;
}

#package-details {
  overflow: hidden;
  display: flow-root;
  background-color: red;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/storage/images/package_detail_page.png");
  background-size: cover;
}
#package-details .edito {
  background-color: transparent;
  background-image: url("/storage/icons/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.1em 0.7em;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}
#package-details .edito:hover, #package-details .edito:focus {
  border-color: #ffe400;
}
#package-details .edito .rrethim {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 200px;
  width: 70%;
}
@media screen and (max-width: 575px) {
  #package-details .edito .rrethim {
    width: 100%;
  }
}
#package-details .edito .left-side {
  background-color: #FEE301;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details .edito .right-side {
  background-color: #F0F7FF;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details .edito table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
#package-details .edito table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
#package-details .edito table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
#package-details .edito table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#package-details .edito tr {
  border-bottom-style: hidden !important;
  border-top-style: hidden !important;
}
#package-details .edito .button-logout {
  background-color: transparent;
  background-image: url("/storage/icons/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.1em 0.7em;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
}
#package-details .edito .button-logout:hover, #package-details .edito .button-logout:focus {
  border-color: #ffe400;
}
#package-details .edito button.button-logout {
  position: relative;
  left: -300px;
  top: 50px;
}
#package-details #edit-package {
  overflow: hidden;
  display: flow-root;
  background-color: #e8ebed;
  min-width: 100%;
  min-height: 100%;
  background-image: url("/storage/images/package_detail_page.png");
  background-size: cover;
  /* top-right border-radius */
  /* bottom-left border-radius */
  /* bottom-right border-radius */
}
#package-details #edit-package .rrethim {
  border-radius: 8px;
  overflow: hidden;
  margin-top: 200px;
  width: 80%;
}
@media screen and (max-width: 575px) {
  #package-details #edit-package .rrethim {
    width: 100%;
  }
}
#package-details #edit-package .left-side {
  background-color: #FEE301;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details #edit-package .right-side {
  background-color: #F0F7FF;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: bold;
}
#package-details #edit-package table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
#package-details #edit-package table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
#package-details #edit-package table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
#package-details #edit-package table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#package-details #edit-package tr {
  border-bottom-style: hidden !important;
  border-top-style: hidden !important;
}
#package-details #edit-package .button-logout {
  background-color: transparent;
  background-image: url("/storage/icons/user.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.1em 0.7em;
  padding-left: 2rem;
  border: 2px solid #000000;
  border-radius: 6px;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
}
#package-details #edit-package .button-logout:hover, #package-details #edit-package .button-logout:focus {
  border-color: #ffe400;
}
#package-details #edit-package #comment {
  height: unset;
  padding: 0.2rem 0.7rem;
  padding-right: 5rem;
  border-radius: 16px;
}
#package-details #edit-package input[type=text] {
  border-radius: 25px;
}
#package-details #edit-package select {
  height: 37px;
  border-radius: 25px;
  border: 1px solid #CED4DA;
  color: gray;
  outline: none;
  width: 49%;
}
#package-details #edit-package input[type=submit] {
  position: absolute;
  right: 0.75rem;
  bottom: 22px;
  height: 37px;
  border-radius: 16px;
  padding: 0.1em 0.7em;
  color: black;
  background-color: #CED4DA;
  border: 1px solid black;
  transition: border-color 220ms cubic-bezier(0.63, 0, 0.37, 1);
}
#package-details #edit-package button.button-logout {
  position: relative;
  left: -220px;
  top: 50px;
}
#package-details .sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
  color: darkorange;
}
#package-details .content-container {
  padding-top: 20px;
}
#package-details .sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #f5d238;
}
#package-details .sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}
#package-details .sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}
#package-details .sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: black;
}
#package-details .sidebar-navigation li .fa {
  margin-right: 10px;
}
#package-details .sidebar-navigation li a:active,
#package-details .sidebar-navigation li a:hover,
#package-details .sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}
#package-details .sidebar-navigation li::before {
  background-color: darkorange;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}
#package-details .sidebar-navigation li:hover::before {
  width: 100%;
}
#package-details .sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: white;
  padding: 10px 15px 10px 30px;
}
#package-details .sidebar-navigation .header::before {
  background-color: transparent;
}
#package-details .content-container {
  padding-left: 220px;
}
#package-details #dashboard-f {
  margin-left: 250px;
}

/*# sourceMappingURL=style1.css.map */
